Flask==3.0.3
fredapi==0.5.2
numpy==2.1.0
openai==1.41.0
pandas==2.2.2
python-dotenv==1.0.1
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.4.0
tableauhyperapi==0.0.19691
torch==2.2.2
transformers==4.39.3
